{% macro displaySourcesList(sources_list) %}

    {% for sources in sources_list %}
    <div class ="col-md-6 bg-info">
        <h3><u>{{sources.name}}</u></h3>
        <p>{{sources.description}}</p>
        <p>{{sources.category}} news category</p>
        <a class ="btn btn-dark" href="/articles/{{sources.id}}">View</a>
    </div>
    
    {% endfor %}

{% endmacro %}

{% macro displayArticlesList(articles_list) %}  

    {% for articles in articles_list %}

    <div class="col-md-6">
        <div class="card">
            {% if articles.urlToImage %}
            <img src="{{ articles.content }}" height="400" width="500" alt="{{ articles.title | truncate(10) }}">
            {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ articles.title }}</h5>
            <p class="card-text">Uploaded on:{{ articles.publishedAt}} </p>
            <p class="card-text"><small class="text-muted">Compiled by:{{ articles.author}}</small></p>
            <p class="card-text"><small class="text-muted"><a href="{{ articles.url }}"><button>Read More...</button></a></small></p>

        </div>
        </div>
    </div>                
    {% endfor %}

{% endmacro %}